<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="clubListStyle.css" rel="stylesheet">
    <title>Ohlone Club Portal</title>
  </head>
  <body class="text-center">



      <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
          <div class="inner">
            <h3 class="masthead-brand">Ohlone Club Portal</h3>
            <nav class="nav nav-masthead justify-content-center">
              <a class="nav-link" href="http://localhost:8000/index">Home</a>
              <a class="nav-link active" a href="http://localhost:8000/clubList">Clubs</a>
              <a class="nav-link" a href="mailto:cin@dotslashcs.club?Subject=Club%20Portal" target="_top">Contact</a>
              <a class="nav-link" href="#">Log In</a>

            </nav>
          </div>

        </header>

        <main role="main" class="inner cover">
          <h3>Clubs at Ohlone College</h3>
          <div class="clubListList">
              <a class="#" href="#">Dot Slash Computer Science</a><br>
              <a class="#" href="#">Mu Alpha Theta (Math Club)</a><br>

          </div>

        </main>

        <footer class="mastfoot mt-auto">
          <div class="inner">
            <p>Created by Dot Slash Computer Science from Ohlone College</p>
          </div>
        </footer>
      </div>

  </body>
</html>
