<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Post Home Route</title>
  </head>
  <body>
    <h1>Hi <%= name %></h1>
    <p>This route is also localhost:8000/home, but this one is rendered through
      the post route instead of the get route. Post routes sends data through the
      HTTP request rather than the URL. However, take note that while we can render
      on a post like this, it is something that needs to be avoided in actual practice.</p>
  </body>
</html>
