<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    Homepage. You can play around with this.
    <form action="http://localhost:8000/home" method="post">
      What is your name?
      <input type="text" name="name">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
