<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Template</title>
  </head>
  <body>
    <h1>Hello DotSlash Club Members</h1>
    <p>This is an html page using EJS templating</p>
    <p>EJS will create and render this page when called. This page cannot be
      accesed by the file name. "localhost:8000/index.ejs" will not work. The html
      that gets rendered is depended on your routing.</p>
    <p>Currently, the default route is set to render this page. "localhost:8000"</p>
  </body>
</html>
