<!DOCTYPE html>
<html>
<form action="http://localhost:8000/login" method="post">
<form>
	<tr>
			<td>
				<b>Club Email:</b>
			</td>
			<td>
				<input type="text" placeholder="Email" name="cemail">
			</td>
		</tr>
		<tr>
			<td>
				<b>Password:</b>
			</td>
			<td>
				<input type="Password" placeholder="Password" name="cpassword">
			</td>
		</tr>
		<tr>
			<td>
				<input type="Submit" value="Submit" name="">
			</td>
		</tr>
</form>
